extends layout

block content
    table
        tr
            th Ime
            th Opis
            th Cijena
            th Pocetak
            th Kraj
            th Akcije
        each project, index in projects
            tr
                td= project.name
                td= project.description
                td= project.price
                td= project.start
                td= project.end
                td
                    a(href='/projects/edit/'+project._id) Edit |
                    a(href='/projects/delete/'+project._id) | Delete |
                    a(href='/projects/add-member/'+project._id) | AddMember