extends ../layout

block content
	h1.
		#{title}
	p Name: #{project.name}
	p Description: #{project.description}
	p Price: #{project.price}
	p Members: #{project.members}
	p FinishedWorks: #{project.finishedWorks}
	p StartTime: #{project.startTime}
	p EndTime: #{project.endTime}
	p Archived: #{project.archived}
	p Author: #{author}